.sidebar{
        background-color: #343a40;
        max-height: 600px;
        overflow-y:scroll ;
} 
.list-group-item {
        background-color: transparent;
        color: #fff;
        border-bottom: 1px solid #ddd;

}
.main-content{
        background-color: #d9d9d9;
        overflow-y: scroll;
}
.table{
    background-color: white;
}